common --@rules_python//python/config_settings:venvs_site_packages=yes
common --@rules_python//python/config_settings:bootstrap_impl=script

# no rogue __init__.py
build --incompatible_default_to_explicit_init_py