[project]
name = "bazel-debugpy"
version = "0.1.0"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[tool.hatch.build.targets.wheel]
packages = [
    "src/bazel_debugpy",
    "src/_bazel_debugpy.pth",
]
